<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<style>
	.demo {
		width: 100px;
		height: 100px;
		background-color: grey;
		display: inline-block;
		margin: 10px;
	}

	.red {
		background-color: red;
	}

	.blue {
		background-color: blue;
	}

	.green {
		background-color: green;
	}

	.brown {
		background-color: brown;
	}

	.yellow {
		background-color: yellow;
	}
</style>

<div id="app">
  <!-- instead of classes we can style directly! we can use objects or again computed properties -->
	<div class="demo" :style="{backgroundColor: color}"></div>
  <div class="demo" :style="computedStyleObject"></div>
  <!-- could also use the array style to merge styles like on classes -->
	<div class="demo" :style="[computedStyleObject, {height: width + 'px'}]"></div>
  <hr>
  <input type="text" v-model="color">
  <input type="text" v-model="width">
</div>

<script>
	new Vue({
		el: '#app',
		data() {
			return {
        color: 'yellow',
        width: 100,
			};
    },
    computed: {
      computedStyleObject() {
        return {
          backgroundColor: this.color,
          width: this.width + 'px'
        }
      }
    },
	})
</script>
